.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  left: 0;
  background: rgb(48 0 0 / 84%);
  top: 0;
  flex: 1;
  &__item{
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    width: 110px;
    text-align: center;
    padding: 1rem 0;
    cursor: pointer;
  }
  &__text {
    text-decoration: none;
    color: black;
  }
}

a {
  all: unset;
}

.home {
  display: flex;
  flex: 5;
}
