.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  left: 0;
  background: linear-gradient(135deg, #1e1e2f, #3a3a5c);
  top: 0;
  flex: 1;
  &__item{
    margin-bottom: 1rem;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    cursor: pointer;
  }
  &__item:hover{
    background: linear-gradient(135deg, rgba(107, 107, 159, 0.11), rgba(102, 102, 162, 0.15));
  }
  &__text {
    color: white;
    font-size: 1rem;
  }
}

a {
  all: unset;
}

.home {
  display: flex;
  flex: 5;
}
